@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
  font-family: 'Noto Sans Japanese',Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.page-title {
    font-size: 1.2rem;
    color: hsl(43, 18%, 35%);
}

header {
    background-color: #FFF;
    margin-bottom: 1em;
    text-align: left;

    padding-top: .5em;
    padding-bottom: .5em;

    color: #444;

    &, h1 {
        font-size: 1rem;
    }

    h1 {
        margin: 0;
        display: inline-block;
        margin-right: 1.4em;
        @media (max-width: 600px) {
            display: block;
            margin-bottom: 0.3rem;
        }
    }

    dl {
        display: inline-block;

        margin: 0;

        dt, dd {
            display: inline-block;
        }


        dt {
            font-weight: bold;

            margin-left: 0;
            margin-right: .3em;
            padding: 0;

            &:after {
                content: ":";
            }
        }

        dd {
            margin-left: 0;
            margin-right: 1.4em;
            padding: 0;
        }

        @media (max-width: 600px) {
            & {
                font-size: 0.7rem !important;
                dd {
                    margin-right: 0.3rem;
                }
            }
        }
    }
}

.site-page-header.ui.header {
    margin-top: 1em;
    margin-bottom: 1em;
    color: hsl(43, 53%, 93%);
    -webkit-text-stroke-color: hsl(38, 47%, 71%);

    .logo {
        font-size: 4em;
        @media (max-width: 600px) {
            font-size: 1.5em;
        }

        font-weight: bold;
        margin-bottom: 0.1em;
        -webkit-text-stroke-width: 2px;
    }

    .copy {
        font-size: 1.4em;
        -webkit-text-stroke-width: 1.5px;
        @media (max-width: 600px) {
            font-size: 1em;
        }
    }
}

.site-cover.ui.masthead {
    padding-top: 0;

    background-image: url("/img/bg_1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: none;

    min-height: 100%;

    .ui.menu {
        background-color: hsla(68, 48%, 96%, 0.8);

        .item {
            color: hsl(43, 18%, 35%);

            &.active {
                border-color: hsl(43, 18%, 35%);
            }

            &:hover {
                color: hsl(43, 18%, 35%);
            }
        }

        @media (max-width: 600px) {
            font-size: 0.9rem;
            .item {
                border-width: 1px;
            }
        }
    }
}

.back .introduction {
    background-color: hsla(38, 31%, 64%, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
    color: #FFF;

    h2 {
        color: hsl(28, 35%, 31%);
    }
}

.introduction {
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.7);

    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 2rem;
    border-radius: 0.4rem;

    border: 1px solid hsl(38, 31%, 64%);

    width: 60%;
    @media (max-width: 600px) {
        width: 98%;
    }

    p {
        text-align: left;
        line-height: 1.6;
        font-size: 1.05rem;
        @media (max-width: 600px) {
            font-size: 0.85rem;
        }
    }

    h2 {
        color: hsl(28, 35%, 31%);
        font-size: 1.1rem;
        @media (max-width: 600px) {
            font-size: 0.9rem;
        }
    }

    .ui.primary.button {
        background-color: hsl(31, 78%, 62%);

        &.secret {
        }
    }
}

.menu-list {
    ul.ui.list {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .note {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 0.9rem;
    }
}

.map, .menu-list {
    text-align: left;

    margin: 0 auto;
    margin-top: 5em;
    @media (max-width: 600px) {
        width: 100%;
        margin-top: 2em;
    }

    background-color: hsla(68, 48%, 96%, 1);
    border-radius: 0.4rem;
    padding: 2em;
    @media (max-width: 600px) {
        padding: 1.4em;
    }

    p {
        margin-top: 3rem;
        text-align: left;
    }
}

.ui.breadcrumb {
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

.ui.popup {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid hsl(38, 31%, 64%);
}

img {
    max-width: 100%;
}

.ui.huge.primary.button {
    @media (max-width: 600px) {
        font-size: 0.85rem;
    }
}

iframe#gmap {
    max-height: 50%;
}

@media (max-width: 600px) {
    .pc {
        display: none;
    }
}

.nanoGalleryViewerContainer {
    .closeButtonFloating {
        right: 1em !important;
        font-size: 1.5em !important;
    }
}
