<!DOCTYPE html>
<html lang="ja">
<head>
    {{> head}}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> nav}}

        <div class="ui text container">
            <h1 class="ui inverted header site-page-header">
                <p class="logo">Cafe LeSiNa</p>
                <p class="copy">焼き物の町、益子のカフェ「レシナ」</p>
            </h1>
            <div class="introduction">
                <h2>益子焼きカップで入れるコーヒー付きランチ1000円</h2>
                <p>
                    お飲み物のみのご注文でもお気軽にお立ち寄りください。
                    大きな窓から景色を眺めてご休憩いただけます。
                </p>
                <p>
                    焼き物散策の後は、静かなカフェでのんびり過ごしませんか？
                </p>
                <a href="/access" class="ui huge primary button"><i class="food icon"></i>メニュー</a>
                <a href="/access" class="ui huge primary button"><i class="home icon"></i>アクセス</a>
            </div>
        </div>
    </div>
</body>
