<link href="https://cdn.rawgit.com/Kris-B/nanoGALLERY/v5.9.0/dist/css/nanogallery.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.rawgit.com/Kris-B/nanoGALLERY/v5.9.0/dist/css/themes/light/nanogallery_light.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

<link rel="stylesheet" type="text/css" href="/css/app.css">
