<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

<link rel="stylesheet" type="text/css" href="/css/app.css">
<link class="async-css" rel="subresource" type="text/css" href="/css/extra.css">
