<header>
    <div class="ui container">
        <h1 class="pc">カフェレシナ</h1>

        <dl>
            <dt>営業時間</dt><dd>11:00 - 16:00<span class="pc">(L.O 15:30)</span></dd>
            <dt>定休日</dt><dd>月/木</dd>
            <dt>TEL</dt><dd>090-7944-7140<span class="pc"> (天野)</span></dd>
        </dl>
    </div>
</header>
