<header>
    <div class="ui container">
        <h1 class="pc">カフェレシナ</h1>

        <dl>
            <dt>営業時間</dt><dd>10:00 - 16:30 (ランチ: 11:30 - 2:30)</dd>
            <br class="sp">
            <dt>定休日</dt><dd>木曜日</dd>
            <dt>TEL</dt><dd>090-7944-7140</dd>
        </dl>
    </div>
</header>
