<!DOCTYPE html>
<html lang="ja">
<head>
    {{> head }}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav }}

        <div class="map">
            <div class="ui breadcrumb">
                <a href="/" class="section">トップ</a>
                <i class="right angle icon divider"></i>
                <a href="/access" class="active section">アクセス</a>
            </div>

            <h1 class="page-title"><i class="car icon"></i>LeSiNaのアクセス</h1>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.7567685869317!2d140.1147483153098!3d36.463433980019445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6021fb6be5bd5641%3A0x78ae507768c322b3!2z44Gk44GL44KC44GoIOmZtuiKuOS9k-mok-aVmeWupA!5e0!3m2!1sen!2sjp!4v1447247603264" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            <p>
                つかもと隣です
            </p>
        </div>
    </div>
</body>
