<!DOCTYPE html>
<html lang="ja">
<head>
    {{> head }}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav }}

        <div class="ui text container">
            <div class="menu-list">
                <div class="ui breadcrumb">
                    <a href="/" class="section">トップ</a>
                    <i class="right angle icon divider"></i>
                    <a href="/menu" class="active section">メニュー</a>
                </div>

                <h1 class="page-title"><i class="food icon"></i>メニュー表</h1>

                <ul class="ui list">
                    {{#menu.names}}
                    <li>{{name}} {{#set}}※{{/set}} ... {{price}}円</li>
                    {{/menu.names}}
                </ul>

                <p class="note">
                    ※付きメニューは、サラダ、コーヒーが付いています。
                </p>

                <div class="ui three column grid">
                  <div class="column">
                    <div class="ui segment">
                      <img src="/img/bg_1.jpg">
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui segment">
                      <img src="/img/bg_1.jpg">
                    </div>
                  </div>
                  <div class="column">
                    <div class="ui segment">
                      <img src="/img/bg_1.jpg">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
