<!DOCTYPE html>
<html lang="ja">
<head>
    {{> head }}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav }}

        <div class="ui text container">
            <div class="menu-list">
                <div class="ui breadcrumb">
                    <a href="/" class="section">トップ</a>
                    <i class="right angle icon divider"></i>
                    <a href="/photos" class="active section">店内写真</a>
                </div>

                <h1 class="page-title"><i class="photo icon"></i>店内写真</h1>

                <div class="gallery" id="photos">
                    {{#photos}}
                    <a href="{{src}}" data-ngid="{{src}}" data-ngdesc="{{src}}" data-ngthumb="{{src}}"></a>
                    {{/photos}}
                </div>
            </div>
        </div>
    </div>
</body>
