<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Cafe LeSinaへのアクセス | 焼き物の町、益子のカフェ</title>
    <meta name="description" content="焼き物/陶器で有名な町、益子にあるカフェLeSiNaへのアクセス">
    {{> head }}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav }}
        <div class="page ui text container">
            <div class="map">
                <div class="ui breadcrumb">
                    <a href="/" class="section">トップ</a>
                    <i class="right angle icon divider"></i>
                    <a href="/access" class="active section">アクセス</a>
                </div>

                <h1 class="page-title"><i class="car icon"></i>LeSiNaのアクセス</h1>

                <p>
                    <a href="http://www.tsukamoto.net/">つかもと</a>内、作家館の隣にあります。
                </p>

                <div class="ui embed" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.7567685869317!2d140.1147483153098!3d36.463433980019445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6021fb6be5bd5641%3A0x78ae507768c322b3!2z44Gk44GL44KC44GoIOmZtuiKuOS9k-mok-aVmeWupA!5e0!3m2!1sen!2sjp!4v1447247603264"></div>

                <div class="routes">
                    <h2 class="page-sub-title">お車をご利用の場合</h3>

                    <h3 class="page-sub-title">東北自動車道のご利用</h3>
                    <img src="/img/route_by_tohoku_motorway.png" alt="東北自動車道をご利用しての行き方">

                    <h3 class="page-sub-title">常磐自動車道のご利用</h3>
                    <img src="/img/route_by_jouban_motorway.png" alt="東北自動車道をご利用しての行き方">

                    <h2 class="page-sub-title">電車をご利用の場合</h3>
                    <h3 class="page-sub-title">東北新幹線をご利用</h3>
                    <img src="/img/route_by_tohoku_bullet_train.png" alt="東北新幹線をご利用しての行き方">

                    <h3 class="page-sub-title">JR宇都宮線をご利用</h3>
                    <img src="/img/route_by_tohoku_line.png" alt="JR宇都宮線をご利用しての行き方">

                    <h3 class="page-sub-title">JR水戸線をご利用</h3>
                    <img src="/img/route_by_mito_line.png" alt="JR水戸線をご利用しての行き方">
                </div>
            </div>
        </div>
    </div>

    
</body>
