<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Cafe LeSina | 焼き物の町、益子のカフェ</title>
    <meta name="description" content="焼き物/陶器で有名な町、益子にあるカフェLeSiNaのホームページです。">
    {{> head}}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav}}

        <div class="ui text container">
            <h1 class="ui inverted header site-page-header">
                <p class="logo">Cafe LeSiNa</p>
                <p class="copy">焼き物の町、益子のカフェ「レシナ」</p>
            </h1>
            <div id="kanban">
                <div class="front">
                    <div class="introduction">
                        <h2>益子焼きカップで入れるコーヒー付きランチ1000円</h2>
                        <p>
                            お飲み物のみのご注文でもお気軽にお立ち寄りください。
                            大きな窓から景色を眺めてご休憩いただけます。
                        </p>
                        <p>
                            焼き物散策の後は、静かなカフェでのんびり過ごしませんか？
                        </p>
                        <a href="/menu" class="ui huge primary button"><i class="food icon"></i>メニュー</a>
                        <a href="/access" class="ui huge primary button"><i class="car icon"></i>アクセス</a>
                        <br>
                        <br>
                        <a class="flip-kanban secret ui huge primary button" data-content="クリックすると...?"><i class="help icon"></i>LeSiNaの秘密</a>
                    </div>
                </div>

                <div class="back">
                    <div class="introduction" data-content="クリックすると...?">
                        <h2>うらメニュー</h2>
                        <p>
                            郊外系ラーメンファンに朗報。益子で人気のカフェLasinaが土日限定の裏メニューとして、ラーメンをご提供開始。店主が厳選した食材でとったスープはさっぱり絶品。
                        </p>
                        <p>
                            ラーメンはこだわりの1種類のみ@750円。
                        </p>
                        <a href="/menu" class="ui huge primary button"><i class="food icon"></i>メニュー</a>
                        <a href="/access" class="ui huge primary button"><i class="car icon"></i>アクセス</a>
                        <br>
                        <br>
                        <a class="flip-back-kanban ui huge primary button"><i class="reply icon"></i>表に戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
