<!DOCTYPE html>
<html lang="ja">
<head>
    {{> head }}
</head>
<body>
    <div class="ui vertical masthead center aligned segment site-cover">
        {{> header}}
        {{> nav }}
        <div class="ui text container">
            <div class="map">
                <div class="ui breadcrumb">
                    <a href="/" class="section">トップ</a>
                    <i class="right angle icon divider"></i>
                    <a href="/access" class="active section">アクセス</a>
                </div>

                <h1 class="page-title"><i class="car icon"></i>LeSiNaのアクセス</h1>

                <p>
                    <a href="http://www.tsukamoto.net/">つかもと</a>内、作家館の隣にあります。
                </p>

                <div class="ui embed" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.7567685869317!2d140.1147483153098!3d36.463433980019445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6021fb6be5bd5641%3A0x78ae507768c322b3!2z44Gk44GL44KC44GoIOmZtuiKuOS9k-mok-aVmeWupA!5e0!3m2!1sen!2sjp!4v1447247603264"></div>

                <div class="routes">
                    <h2 class="page-sub-title">東北新幹線を利用</h2>
                    <img src="/img/route_by_tohoku_bullet_train.png" alt="東北新幹線を利用しての行き方">

                    <h2 class="page-sub-title">JR宇都宮線を利用</h2>
                    <img src="/img/route_by_tohoku_line.png" alt="JR宇都宮線を利用しての行き方">

                    <h2 class="page-sub-title">JR水戸線を利用</h2>
                    <img src="/img/route_by_mito_line.png" alt="JR水戸線を利用しての行き方">

                    <h2 class="page-sub-title">車を利用</h2>
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>出発地点</th>
                                <th>所要時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>東北自動車道 宇都宮IC</td>
                                <td>70分</td>
                            </tr>
                            <tr>
                                <td>東北自動車道 栃木IC</td>
                                <td>70分</td>
                            </tr>
                            <tr>
                                <td>北関東自動車道 真岡IC</td>
                                <td>30分</td>
                            </tr>
                            <tr>
                                <td>北関東自動車道 桜川筑西IC</td>
                                <td>30分</td>
                            </tr>
                            <tr>
                                <td>北関東自動車道 友部IC</td>
                                <td>40分</td>
                            </tr>
                            <tr>
                                <td>常磐自動車道 水戸IC</td>
                                <td>50分</td>
                            </tr>
                            <tr>
                                <td>常磐自動車道 谷和原IC</td>
                                <td>90分</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
