<div class="ui container">
    <div class="ui large secondary pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="item" href="/"><i class="home icon"></i>トップ</a>
        <a class="item" href="/menu"><i class="food icon"></i>メニュー</a>
        <a class="item" href="/access"><i class="car icon"></i>アクセス</a>
        <a class="item" href="/photos"><i class="photo icon"></i>店内写真</a>
    </div>
</div>
